<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Twitter App | {{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('style/materialize.css') }}">
    <link rel="stylesheet" href="{{ asset('style/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('style/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('style/app.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
    {{ render(controller('AppBundle:Default:getAllCategories')) }}
</ul>
<header>
    <nav class="orange-text.text-accent-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{{ path('homepage') }}"
                                              class="brand-logo center">Grands_enfants</a>
            <ul class="left hide-on-med-and-down">
                <li><a class="dropdown-button" href="#" data-activates="dropdown1">Categories<i
                                class="fa fa-caret-down right"></i></a></li>
                <li><a href="{{ path('statistics') }}">Statistics</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>


<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Grands_enfants</h5>
                <p class="grey-text text-lighten-4">Exercice réalisé dans le cadre de l'obtention d'un stage chez
                    Reputation Squad.</p>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="#">Brogrammers</a>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ asset('js/materialize.js') }}"></script>
</body>
</html>
