<div class="card large">
    <div class="card-image">
        <img src="{{ tweet.imageUrl }}">
        {#<span class="card-title">Titre de carte</span>#}
    </div>
    <div class="card-content">
        <p>{{ tweet.title | raw }}</p>
    </div>
    <div class="card-action">
        <a class="startup" href="{{ tweet.url }}">{{ tweet.mentions|join |default("Read More...")}}</a>
        <div class="category">{{ tweet.category|upper }}</div>
    </div>
</div>